version: "3.9"

services:
  backend:
    build: ./packages/backend
    # depends_on:
    #   db:
    #     condition: service_healthy
    # env_file:
    #   - .env
    # environment:
    #   DATABASE_URL: ${DATABASE_URL}
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./packages/frontend
    ports:
      - "3000:3000"

volumes:
  postgres_data: