name: CI

on:
  pull_request:
  push:

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker images
        run: docker compose build

      - name: Start services
        run: docker compose up -d

      - name: Wait for services
        run: |
          sleep 10
          docker compose ps

      # - name: Run backend tests (pytest)
      #   run: docker compose exec -T backend pytest

      - name: Run frontend build
        run: docker compose exec -T frontend npm run build

      - name: Stop services
        run: docker compose down